@use "../../styles/variables" as *;

.custom-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    background: $bg-color-2;
    color: $text-color;
    padding: 0 0 0 12px;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.topbar-logo {
    -webkit-app-region: drag;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: $secudary;
}

.topbar-actions {
    display: flex;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
}

.topbar-button {
    -webkit-app-region: no-drag;
    width: 46px;
    height: 100%;
    background: transparent;
    color: $secudary;;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.15s ease;
    padding: 0;
    margin: 0;

    svg {
        width: 12px;
        height: 12px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.topbar-button-minimize {
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.topbar-button-maximize {
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.topbar-button-close {
    &:hover {
        background-color: #e5383b;
        color: #fff;
    }

    &:active {
        background-color: #c1121f;
    }
}
