@use "../../styles/variables" as *;

.modalContainer {
    display: flex;
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bgBlack {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: $bg-color;
    z-index: 1000;
    border-radius: 1rem;
}

