@use "./variables" as *;

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: $bg-color;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $primary;
    cursor: pointer;
    transition: border-color 0.25s;
    transition: background-color 0.25s;
  }

  button:hover {
    border-color: #1fb332;
  }

  input {
      transition: border-color 0.25s;
      border: 1px solid white;
      outline: none;
  } 

  input:focus {
    border: 1px solid $primary;
 
  }

  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }