@use "../../styles/variables" as *;

.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, $bg-color 0%, $bg-color-2 100%);
}

.pointRegisterContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem
    ;
}

.cardContent {
	display: grid;
	grid-template-columns: 300px auto auto;
	grid-gap: 10px;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.pointRegisterBack {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: $secudary;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

.textContent {
    text-align: center;
    gap: 0.2rem;
    padding: 2rem 0;
    
    h2 {
        margin: 0;
        font-size: 3rem;
    }
}
