@use "../../styles/variables" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

.imputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    font-size: 1.2rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $primary;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
        background-color: darken($primary, 10%);
    }
}

.backBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 4rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease;

    svg {
        fill: #1a1a1a;
        transition: fill 0.3s ease;
    }

    &:hover {
        background-color: $primary;

        svg {
            fill: #fff;
        }
    }
}

.show{
    bottom: 2rem;
}

.off{
    bottom: -3rem;
}

.saveMessage{
    position: absolute;

    background-color: $primary;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}